@page "/sensors"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject ISensorService SensorService
@inject NavigationManager navigationManager

<h3>Sensors</h3>

<table class="table">
    <thead>
        <tr>
            <th>GUID</th>
            <th>Name</th>
            <th>Interval</th>
            <th>IP Address</th>
            <th><i>Actions</i></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sensor in SensorService.SensorSettings)
        {
            <tr>
                <td>@sensor.Guid</td>
                <td>@sensor.Name</td>
                <td>@sensor.Interval</td>
                <td>@sensor.IPAddress</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => ShowSensor(sensor.Guid)">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="() => CreateNewSensor()">
    <i class="oi oi-plus"></i> Create New
</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await SensorService.GetAll();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    protected void ShowSensor(Guid guid)
    {
        navigationManager.NavigateTo($"sensor/{guid}");
    }

    protected void CreateNewSensor()
    {
        navigationManager.NavigateTo($"sensor");
    }
}
